body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
}

.navbar ul {
    display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: white;
  padding: 10px 25px;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

.logo .cine {
  color: #007bff;
}

.logo .wave {
  color: #00ffff;
}