body {
  margin: 0;
  font-family: "BBH Sans Bogle", sans-serif;
  background-color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: white;
  padding: 10px 25px;
}

/* Left section (logo + links + search) */
.left-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "BBH Sans Bogle", sans-serif;
}

.logo .cine {
  color: #007bff; /* Blue */
}

.logo .wave {
  color: #00ffff; /* cyan */
}

.logo:hover {
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: none;
}

/*Search*/
.search-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.all-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-top: -5px;
}

.search-box {
  background-color: #333;
  border-radius: 4px;
  padding: 5px 8px;
}

.search-box input {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  width: 150px;
}

/* Right section (sign-in + menu) */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sign-in {
  background-color: #00ffff;
  border: none;
  color: black;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.sign-in:hover {
  background-color: #005fcc;
}

.menu-icon {
  font-size: 22px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 700px) {
  .nav-links {
    display: none;
  }
  .search-box input {
    width: 100px;
  }
}
