* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: white;   
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 1% 1.5%;
}   

.logo a, .nav-hamburger a {
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.search-bar {
    margin-right: 30%;
    height: 100%;
}

.search-bar input {
    height: 40px;
    border-radius: 50px;
    padding: 0 15px;
}

.nav-text span {
    color: white;
}

.nav-button {
    background-color: aliceblue;
    border: none;
    border-radius: 50px;
    margin-left: 10px;
    padding: 10px 20px;
}

.nav-link-buttons {
    padding: 0px 10px;
}

.nav-link-buttons button {
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
}

/* MAIN */

main {
    height: 100vh;
}

.content-1a {
    display: flex;
    background-color: aquamarine;
    width: 100%; height: 500px;
    padding: 120px 250px 50px 250px;
    border: 5px solid black;
}

.content-pic {
    background-color: blanchedalmond;
    border-radius: 20px;
    flex: 1;
}

.content-pic img {
    background-color: blueviolet;
    width: 100%; height: 100%;
}

.content-desc {
    padding: 20px 50px;
    flex: 3;
}       

.haha234 {
    color: black;
    -webkit-text-stroke: 1px white;

}

.profile {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.profile div:first-child {
    background-color: aqua;
    border: 2px solid white;
    border-radius: 50px;
    height: 50px; width: 50px;
    margin-right: 10px;
}

.profile div:last-child {
    font-weight: bold   ;
}

.profile div:last-child p:first-child {
    color: rgb(121, 121, 121);
}

.profile div:last-child p:last-child{
    color: rgb(255, 255, 255);
}
