* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    line-height: 1.5;
}

/* MENU BAR */

header {
    background-color: #131313;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
    margin: 0 300px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    color: rgb(218, 218, 218);
}

/* LOGO */

.logo {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;

}

.logo-cine {
    color: #00ffff;
}

.logo-wave {
    color: aquamarine;
}

/* SEARCH BAR */

.search-bar {
    width: 50%; height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
}

.search-category {
    background-color: #535353;
    border: none;
    color: white;
    padding: 1% 12px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}



#search-input  {
    border-radius: 0px 5px 5px 0px;
    background-color: #535353;
    border: none;
    width: 100%; height: 35px;
    padding-left: 10px;
    cursor: pointer;
}

#search-input::placeholder {
    color: rgb(182, 182, 182);
}

.dropdown {
    position: absolute;
    top: 99%; left: 0%;
    background: #2c2c2c;
    border-radius: 5px;
    width: 120px; display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.dropdown.show {
    display: block;
}

.dropdown-item {
    padding: 8px 10px;
    color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #555;
}

/* HAMBURGER MENU */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 3px;
}

/* SIGN IN BUTTON */

.sign-button {
    background-color: #00ffff;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.sign-button:hover {
    background-color: #23d3ff;

}

/*  */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(14, 14, 14);
    color: white;
}

.container {
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid rgb(255, 0, 106);
    box-shadow: 0 0 25px rgb(255, 0, 106);
}

.container .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-box.Login {
    left: 0;
    padding: 0 40px;

}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
    font-weight: 600;
    padding-right: 23px;
}

.input-box input:focus ,
.input-box input:valid {
    border-bottom: 2px solid #ff2770;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #ff2770;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    transition: .5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: #ff2770;
}

.btn {
    position: relative;
    width: 100%;
    border-radius: 40px;
    height: 45px;
    color: #fff;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #ff2770;
    overflow: hidden;
    z-index: 2;
}

.btn::before {
    content: "";
    position: absolute;
    height: 300%; width: 100%;
    background: linear-gradient(#25252b, #ff2770, #252525, #ff2770);
    top: -100%; left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.regi-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;

}

.regi-link a {
    text-decoration: none;
    color: #ff2770;
    font-weight: 600;
}

.regi-link a:hover {
    text-decoration: underline;
}

.info-content {
    color: #fff;
    position: absolute;
    top: 0; right: 0;
    height: 100%; width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.info-content.Login {
    right: 0; 
    text-align: right;
    padding: 0 40px 60px 150px;
}

.info-content h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}

.info-content p {
    font-size: 16px;   
}

.container .curved-shape {
    position: absolute;
    right: 0; top: -5px;
    height: 600px;
    width: 850px;
    background-color: white;
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: rotate(10deg);
}