* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #000000;
    line-height: 1.5;
}

/* Menu Bar */

header {
    background-color: #131313;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
    margin: 0 10%;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 30px;
}

.logo-cine {
    color: aqua;
}

.logo-wave {
    color: aquamarine;
}

.search-bar {
    width: 50%;
}

#search-input  {
    border-radius: 5px;
    background-color: #535353;
    width: 100%;
    height: 35px;
}

#search-input ::placeholder {
    color: white;
}