body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: #fff;
}

header {
    background-color: #242424;
    padding: 10px 300px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    list-style: none;
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.search input {
    width: 600px;
    border-radius: 5px;
    border: none;
    height: 25px;
}

.hamburger {
    cursor: pointer;
}

.sign-in {
    border-radius: 5px;
    padding: 5px 15px;
    height: 30px;

}

main {
    padding: 0 300px;
}