:root {
    --main-color: #7fffd4;
}

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    line-height: 1.5;
    background: black;
    color: white;
}

/* MENU BAR */

header {
    background: linear-gradient(#494949, #1a1a1a,  #0c0c0c);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
    margin: 0 300px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    color: rgb(218, 218, 218);
    text-decoration: underline;
}

/* LOGO */

.logo {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;

}

.logo-cine {
    color: #00ffff;
    
}

.logo-wave {
    color: #7fffd4;
}

/* SEARCH BAR */

.search-bar {
    width: 50%; height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
}

.search-category {
    background-color: #535353;
    border: none;
    color: white;
    padding: 1.3% 12px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    border-right: 1px solid rgb(134, 134, 134);
}



#search-input  {
    border-radius: 0px 5px 5px 0px;
    background-color: #535353;
    border: none;
    width: 100%; height: 35px;
    padding-left: 10px;
    cursor: pointer;
}

#search-input::placeholder {
    color: rgb(182, 182, 182);
}

.dropdown {
    position: absolute;
    top: 99%; left: 0%;
    background: #2c2c2c;
    border-radius: 5px;
    width: 120px; display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.2s ease;

}

.dropdown.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #555;
}

/* HAMBURGER MENU */

.hamburger-menu {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    cursor: pointer;
    gap: 5px;
}

.hamburger-menu:hover {
    transform: scale(1.1);
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 3px;
}



/* SIGN IN BUTTON */

.sign-button {
    position: relative;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 10px;
    overflow: hidden;
    z-index: 2;
}

.sign-button::before {
    content: "";
    position: absolute;
    height: 300%; width: 100%;
    background: linear-gradient(#25252b, var(--main-color), #252525, var(--main-color));
    top: -100%; left: 0;
    z-index: -1;
    transition: .5s;
}

.sign-button:hover::before {
    top: 0;

}